* {
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.manrope-bigfont {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
body {
  background-color: hsl(210, 46%, 95%);
  height: 100vh;
  display: flex;
}
.container {
  width: 360px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  margin: 0 auto;
  /* margin-top: 4rem; */
  align-self: center;
  box-shadow: 10px 10px 5px 0px hsl(214, 17%, 51%);
}
#drawers {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.description {
  padding: 2.5rem;
}
h1 {
  font-size: 1.3rem;
  color: hsl(217, 19%, 35%);
}
h3 {
  padding-top: 1rem;
  font-size: 1.1rem;
  line-height: 1.3;
  color: hsl(214, 17%, 51%);
}
.authorDetails {
  padding: 0 2.5rem 2rem 2.5rem;
  display: flex;
  justify-content: space-between;
}
.authorTimestamp {
  display: flex;
  flex-direction: row;
}
.authorDetails img {
  width: 50px;
  border-radius: 50%;
}
.author {
  align-self: center;
  padding-left: 20px;
}
h4 {
  font-size: 1.1rem;
  padding-bottom: 0.5rem;
  color: hsl(217, 19%, 35%);
}
.author p {
  font-size: 1.1rem;
  color: hsl(214, 17%, 51%);
}
.icon img {
  width: 20px;
  padding: 12px;
  border: 2px solid hsl(210, 46%, 95%);
  background-color: hsl(210, 46%, 95%);
}
.shareDetails {
  display: none;
  background-color: hsl(217, 19%, 35%);
  padding: 1rem 2.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}
.socialmedia,
.socialIcons {
  display: flex;
  justify-content: space-around;
}
.text {
  text-transform: uppercase;
  letter-spacing: 6px;
  color: hsl(212, 23%, 69%);
}
.socialIcons img {
  padding-left: 18px;
}
.attribution {
  margin-bottom: 0.5rem;
  text-align: center;
}
.attribution a {
  font-size: 9px;
}
.hidden-div,
.authorHidden {
  display: none;
}
#shadeIcon {
  background-color: white;
  border-radius: 50%;
  width: 20px;
  padding: 12px;
}

.socialmedia {
  align-items: center; /* keeps social icons at natural height */
}

#darkicon {
  align-self: center; /* keeps this one independent */
}

.socialIcons img {
  width: 20px; /* lock their size so they won't stretch */
  height: auto;
}

@media (min-width: 1024px) {
  .container {
    display: flex;
    width: 850px;
  }
  .img {
    width: 40%;
  }
  #drawers {
    border-radius: 10px 0 0 10px;
    height: 100%;
  }
  .right-part {
    width: 60%;
  }
  .description {
    padding: 3rem 3rem 2rem 3rem;
  }
  .authorDetails {
    padding: 0 3.5rem 0 3rem;
  }
  .authorHidden {
    display: flex;
  }
  h4 {
    width: 11rem;
  }
  .attribution {
    text-align: left;
    padding: 0.8rem 3rem 0 3rem;
  }
  footer {
    position: relative;
  }
  .shareDetails {
    position: absolute;
    right: -70px;
    top: -65px;
  }
  #shareDetails::after {
    content: "";
    position: absolute;
    bottom: -8px; /* Adjust arrow position */
    left: 45%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid hsl(217, 19%, 35%);
  }
  #darkicon {
    display: none;
  }
  .attribution {
    display: block;
    text-align: center;
  }
}
